/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: url(assets/bookcase-books-bookshelves-256541.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-color: rgba(255,255,255,0.9); */
    z-index: 1;
    /* backdrop-filter: blur(18px);
    padding-bottom: 100%;
    padding-top: -100%; */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -10px;
    margin-bottom: 0px;
    overflow: hidden;
}

body::before {
    content: "";
    top: 0px;bottom: 0px;left: 0px;right: 0px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(15px);
    margin-bottom: -100%;
    margin-top: -100%;
    justify-content: stretch;
}
